@import '../../styles/vars';

.podcast-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: $size-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $size-mobile) {
    grid-template-columns: repeat(1, 1fr);
  }

  gap: 20px;
  margin-top: 100px;
}

.podcast {

  &-item {
    box-shadow: 0px 2px 5px $color-light-grey;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
    padding: 50px 10px 15px;
    box-sizing: border-box;
    border-radius: 5px;

    &__image {
      position: absolute;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      left: 0;
      right: 0;
      margin: auto;
      top: -50px;
    }

    a {
      text-decoration: none;
    }

    p {
      color: $color-grey;
      margin: 0;
    }

    h3 {
      text-transform: uppercase;
      color: $color-dark-grey;
      font-size: 16px;
      margin: 30px 0 15px;
    }
  }
}