@import '../../styles/vars';

.search-container {
  text-align: right;
}
.search-input {
  padding: 10px;
  border: 1px solid $color-light-grey;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $size-mobile) {
    max-width: 250px;
  }
}